html, body {
  margin: 0;
  background: black;
  color: white;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

#bail {
  font-size: 72px;
  color: white;
  background: tomato;
  padding: 15px;
}

#refresh {
  font-size: 72px;
  color: white;
  background: rebeccapurple;
  padding: 15px;
}

#debug {
  font-size: 72px;
  color: white;
  background: dodgerblue;
  padding: 15px;
}

#callmanual {
  font-size: 72px;
  color: white;
  background: green;
  padding: 15px;
}

#new-videos li {
  display: flex;
  align-items: center;
  font-size: 24px;
}

#new-videos li i {
  font-size: 28px;
  margin: 10px;
}

.preview-modal {
  position:fixed;
  top: 100px;
  left: 100px;
  right: 100px;
  background: black;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
}

.preview-modal .heading {
  display: flex;
  align-items: center;
}
.preview-modal .heading i {
  margin: 10px;
}
.preview-modal .heading h2 {
  margin: 10px;
}

.preview-modal .video-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
