html, body {
  margin: 0;
  background: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.footage-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 10px dashed dodgerblue; */
  box-sizing: border-box;
}

.stageleft .footage-area {
  align-items: flex-start;
  padding-left: 20px;
}

.stageright .footage-area {
  align-items: flex-end;
  padding-right: 10px;
  transform: rotate(3deg);
}

.footage-area h1 {
  font-size: 96px;
  margin: 0;
}

.footage {
  max-height: 144px;
  box-sizing: border-box;
  /* border: 5px dashed dodgerblue; */
}
.footage.torture {
  max-height: 360px;
  box-sizing: border-box;

}
