html, body {
  margin: 0;
  background: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.footage-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 10px dashed dodgerblue; */
  box-sizing: border-box;
}

.footage-area h1 {
  font-size: 96px;
  margin: 0;
}
